<div class="part">
  <%= form_for @master do |f| %>
    <fieldset>
      <h3>パスワード変更</h3>
      <div class="field">
        <%= f.label :password, "新しいパスワード" %>
        <%= f.password_field :password, :class => "text password", :size => "40"%>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワード確認" %>
        <%= f.password_field :password_confirmation, :class => "text password", :size => "40" %>
      </div>
      <p class="submit">
        <%= f.submit "保存", :class => "submit"%>
      </p>
    </fieldset>
  <% end %>
</div>

