<form action="/coupon_analysis_records_search" method='get', id="search_bar">
  <fieldset class="part">
    <h2>履歴件数： <%= @records.count %></h2>
    <div class="field">
      <label>
        <%= link_to "すべての履歴を表示", display_records_coupon_path(@coupon) %>
 				<span class="separator"> | </span>
      </label>
			<%= hidden_field_tag 'id', @coupon.id %>
      <%= text_field_tag :record_start_at, params[:activated_at], :class => "text", :size => '13' %>
			<span class="separator"> ～ </span>
      <%= text_field_tag :record_end_at, params[:inactivated_at], :class => "text", :size => '13' %>
			<%= submit_tag "検索", :class => "link_button submit"%>
    </div>
  </fieldset>
</form>

