<% if request.mobile? %>
	<html xlmns="http://www.w3.org/1999/xhtml">
		<head>
			<title><%= title %></title>
			<%= csrf_meta_tag %>
	    <%= render 'layouts/stylesheets_mobile' %>
			<%= render 'layouts/javascripts' %>
	    <script type="text/javascript">
	    //<![CDATA[
	    var map = null;
	    var geocoder = null;
			var address = null;
	    //]]>
      </script>
		</head>
		<body onload="loadMap()" onunload="GUnload()" >
	    <div id="container" >
				<%= render 'layouts/header' %>
				<%= yield %>
				<%= render 'layouts/footer' %>
			</div>
		</body>
	</html>
<% else %>
	<!DOCTYPE html>
	<html>
	  <head>
	    <title><%= title %></title>
	    <%= csrf_meta_tag %>
	    <%= render 'layouts/stylesheets' %>
			<%= render 'layouts/javascripts' %>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	    <script type="text/javascript">
	    //<![CDATA[
	    var map = null;
	    var geocoder = null;
			var address = null;
      var age_dist_chart = null;
      var gender_dist_chart = null;
	    //]]>
	    </script>
		</head>
	  <body onload="loadMap()" onunload="GUnload()" >
	    <div class="container" >
	     	<%= render 'layouts/header' %>
	     	<% if @sub_header == true %>
	     	  <%= render 'layouts/sub_header' %>
	     	<% end %>
	     	<div id="content">
	        <%= yield %>
	      </div>
	    </div>
	  </body>
	</html>
<% end %>

